<div class="page-container">
  <h2 class="title">Title</h2>
  <div class="body">
    <div class="chips">
      <span
        [ngClass]="{'active': active === 'id_1'}"
        [appAnchor]="id_1"
        [scrolledContainer]="scrolledContainer"
        (click)="onClick('id_1')"
        (onScrolled)="onClick('id_1')"
      >
        1
      </span>
      <span
        [ngClass]="{'active': active === 'id_2'}"
        [appAnchor]="id_2"
        [scrolledContainer]="scrolledContainer"
        (click)="onClick('id_2')"
        (onScrolled)="onClick('id_2')"
      >
        2
      </span>
      <span
        [ngClass]="{'active': active === 'id_3'}"
        [appAnchor]="id_3"
        [scrolledContainer]="scrolledContainer"
        (click)="onClick('id_3')"
        (onScrolled)="onClick('id_3')"
      >
        3
      </span>
      <span
        [ngClass]="{'active': active === 'id_4'}"
        [appAnchor]="id_4"
        [scrolledContainer]="scrolledContainer"
        (click)="onClick('id_4')"
        (onScrolled)="onClick('id_4')"
      >
        4
      </span>
      <span
        [ngClass]="{'active': active === 'id_5'}"
        [appAnchor]="id_5"
        [scrolledContainer]="scrolledContainer"
        (click)="onClick('id_5')"
        (onScrolled)="onClick('id_5')"
      >
        5
      </span>
      <span
        [ngClass]="{'active': active === 'id_6'}"
        [appAnchor]="id_6"
        [scrolledContainer]="scrolledContainer"
        (click)="onClick('id_6')"
        (onScrolled)="onClick('id_6')"
      >
        6
      </span>
    </div>
    <div class="content" #scrolledContainer>
      <div #id_1 class="content-item">Content 1</div>
      <div #id_2 class="content-item">Content 2</div>
      <div #id_3 class="content-item">Content 3</div>
      <div #id_4 class="content-item">Content 4</div>
      <div #id_5 class="content-item">Content 5</div>
      <div #id_6 class="content-item">Content 6</div>
    </div>
  </div>
</div>
